<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cloud Phone</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">  
  <script src="/static/js/jquery-3.0.0.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="/static/images/haomyun.ico" />
</head>
<body style="background:url(/static/images/013.jpg) no-repeat fixed center;background-size: cover;width:auto">
  <nav class="navbar navbar-default">  <!-- <nav class="navbar navbar-default"> -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../" style="margin-top: -6px">
          <img src="../static/images/logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../phonenum">PhoneNum</a></li>
          <li class="active"><a href="">AddUser</a></li>
          <li><a href="../delete">DelUser</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-left:0px">
          <li><button type="button" class="btn btn-default navbar-btn" style="margin-right: 10px;width:70px"><a href="../login" style="text-decoration:none">Log in</a></button></li>
          <li><button type="button" class="btn btn-success navbar-btn" style="width:70px"><a href="../login" style="text-decoration:none">Sign up</a></button></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group" style="width:167px">
            <input type="text" class="form-control" placeholder="Name"></input>
            <span class="input-group-btn">
              <button type="button" class="btn btn-info">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <form method="POST" id="fromMessage" class="form-horizontal" style="margin-top: 20px">
      {% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-1 control-label" style="color:white">姓名</label>
        <span style="color:red" name="nameError">
          <!-- <strong>{{ addform.add_name.errors.as_text }}</strong> -->
          <strong></strong>
        </span>
        <div class="col-lg-3 col-md-4 col-sm-5">
          {{ addform.add_name }}
        </div>
      </div>
      <span id="phonenum">
        <div class="form-group">
          <label for="phonenum" class="col-sm-1 control-label" style="color:white">电话</label>
          <span style="color:red" class="phoneError" name="0">
            <!-- <strong>{{ addform.add_phone.errors.as_text }}</strong> -->
            <strong></strong>
          </span>
          <div class="col-lg-3 col-md-4 col-sm-5">
            <div class="input-group">
              <span class="input-group-addon">
                <select id="0" name="label" style="width:80px; height:35px;
                margin:-34px -13px;border-radius: 3px;" onchange="changeFunc();">
                  <option value="手机">手机</option>
                  <option value="工作">工作</option>
                  <option value="自定义">自定义</option>
                  <option value="修改自定义" style="color:#7fb80e;font-weight: bold">修改自定义</option>
                </select>
                <input type="text" class="form-control" id="addoption0" style="display:none;margin:-25px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="自定义"></input>
              </span>
              {{ addform.add_phone }}
              <div class="input-group-addon">
                <input type="image" src="/static/images/add.png" id="addRow"  style="outline: 0"></input>
              </div>
            </div>
          </div>
        </div>
      </span>
      <div class="form-group">
        <label for="address" class="col-sm-1 control-label" style="color:white">地址</label>
        <div class="col-sm-2" style="width: 500px;">
          {{ addform.add_address }}
        </div>
      </div>
      <div class="form-group">
        <label for="other" class="col-sm-1 control-label" style="color:white">其它</label>
        <div class="col-sm-2" style="width: 500px;" >
          {{ addform.add_other }}
        </div>
      </div>
      <div style="margin: 50px 0 0 40px" class="visible-lg-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Save and add another" value="Save and add other" class="btn btn-info" onclick="addOtherClick()" />
        <input type="submit" name="Save" value="Save" class="btn btn-success" onclick="saveClick()" />
      </div>
      <div style="margin: 50px 0 0 22px" class="visible-md-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Save and add another" value="Save and add other" class="btn btn-info" onclick="addOtherClick()" />
        <input type="submit" name="Save" value="Save" class="btn btn-success" onclick="saveClick()" />
      </div>
      <div style="margin: 50px 0 0 6px" class="visible-sm-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Save and add another" value="Save and add other" class="btn btn-info" onclick="addOtherClick()" />
        <input type="submit" name="Save" value="Save" class="btn btn-success" onclick="saveClick()" />
      </div>
      <div style="margin: 50px 0 0 0" class="visible-xs-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Save and add another" value="Save and add other" class="btn btn-info" onclick="addOtherClick()" />
        <input type="submit" name="Save" value="Save" class="btn btn-success" onclick="saveClick()" />
      </div>
    </form>
  </div>
</body>

<script type="text/javascript">
  function go_back()
{
  //history.go(-1); //返回上一页
  window.location.href="../phonenum"
};

function delRow(obj) //删除行
{
  //删除前电话个数
  currentNum=$('.phoneError').length;
  console.log(currentNum);
  var Row=obj.parentNode;
  while(Row.tagName.toLowerCase()!="span")
  {
    Row=Row.parentNode;
  }
  Row.parentNode.removeChild(Row);//删除行
  /******删除末行 下面的name值往下递减******/
  currentName=$(obj).parent().parent().parent().siblings("span").attr("name");
  for(var i=parseInt(currentName)+1;i<currentNum;i++){
    $('span[name='+i+']').attr("name",i-1);
  }
};

//添加行
jQuery(function(){  
  jQuery('input#addRow').click(function(event){
    event.preventDefault();
    //增加一行 以最后一行的name值往下加
    var counter=$($('.phoneError')[$('.phoneError').length-1]).attr("name");
    counter++;
    var newRow = jQuery('<span><div class="form-group"><label for="phonenum" class="col-sm-1 control-label"></label><span class="phoneError" style="color:red" name='+counter+'><strong></strong></span><div class="col-lg-3 col-md-4 col-sm-5"><div class="input-group"><span class="input-group-addon"><select id='+counter+' name="label" style="width:80px; height:35px;margin:-34px -13px;border-radius: 3px;" onchange="changeFunc();"><option value="手机">手机</option><option value="工作">工作</option><option value="自定义">自定义</option><option value="修改自定义" style="color:#7fb80e;font-weight: bold">修改自定义</option></select><input type="text" class="form-control" id="addoption'+counter+'" style="display:none;margin:-25px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="自定义"></input></span>{{ addform.add_phone }}<div class="input-group-addon"><input type="image" src="/static/images/remove.png" style="outline: 0" onclick="delRow(this)"></input></div></div></div></div></span>');
    jQuery('span#phonenum').append(newRow);
  });
});

function changeFunc()
{
  var i=0;
  var ids_myselect=[];
  var id_myselect;
  $("select").each(function(){
    ids_myselect.push($(this).attr("id"))  //查找所有select的id
  });
  $.each(ids_myselect,function(key,value){   //遍历id
    if($("#"+value).is(":focus")==true)    //判断是否聚焦在id为value的select
    {
      id_myselect=value;
      i=value;
    }
  });
  var id_addoption="addoption"+i;
  var selectBox=document.getElementById(id_myselect);
  if(selectBox.selectedIndex==3)
  {
    $("#"+id_addoption).show();
    $("#"+id_addoption).focus();
  }
  else
  {
    $("#"+id_addoption).hide();
  }
  $("#"+id_addoption).blur(function(){
    var value=$("#"+id_addoption).val();
    var obj=document.getElementById(id_myselect);
    var opt=obj.options[2];
    opt.value=value;
    opt.text=value;
    $("#"+id_addoption).hide();
    $("#"+id_myselect).val(value);
  });
};

var isClick=false;
function saveClick(){
  isClick=true;
};
function addOtherClick(){
  isClick=false;
};

$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

$('#fromMessage').submit(function(e){
  e.preventDefault();
  var name=$('#id_add_name').val();
  var phoneArr=new Array();
  $('input[name="add_phone"]').each(function(){
    phoneArr.push($(this).val());
  });
  var data = $(this).serialize(); 
  $.ajax({
    url:'/add/',
    type:'POST',
    traditional:true,
    cache:false,
    // data:{name:name,phones:phoneArr},
    data:data,
    success:function(arg){
      if((typeof arg)=='object'){  //是否为字典对象，若是，则传递来时的error信息
        var len=$('input[name="add_phone"]').length;
        console.log(len);
        if(arg.hasOwnProperty('nameError1') || arg.hasOwnProperty('nameError2')){  //是否有name error
          // len=Object.keys(arg).length-1   //字典长度减去name error 即phone error长度
          if(arg.hasOwnProperty('nameError1')){
            nameErrorMessage=arg.nameError1
          }else{
            nameErrorMessage=arg.nameError2
          }
          $('span[name="nameError"] strong').text(nameErrorMessage);
          for(var i=0;i<len;i++){
            $('span[name='+i+'] strong').text(arg[i])
          }
        }else{
          // len=Object.keys(arg).length
          $('span[name="nameError"] strong').text('');
        }
        for(var i=0;i<len;i++){
          if(arg.hasOwnProperty(i)){   //第i个phone是否error
            $('span[name='+i+'] strong').text(arg[i])
          }else{
            $('span[name='+i+'] strong').text('')
          }
        }
      }else{
        $('span>strong').text('');
        alert(arg);
        if(isClick){  //若点击了Save按钮 isClick=true
          window.location.href="../phonenum";
        }else{      //若点击了Save and add another按钮 isClick=false
          window.location.href=".";
        }
      }
    },
    error:function(){

    }
  });
});  
</script>
</html>