<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contacts</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">  
  <script src="/static/js/jquery-3.0.0.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <link rel="shortcut icon" href="/static/images/haomyun.ico" />
</head>
<body style="background:url(/static/images/001.jpg) no-repeat fixed center;background-size: cover;
">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../" style="padding: 13px">
          <span class="glyphicon glyphicon-phone-alt"></span>
          Contacts
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../phonenum">PhoneNum</a></li>
          <li><a href="../add">AddUser</a></li>
          <li class="active"><a href="">DelUser</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-default navbar-btn" style="margin-right: 10px"><a href="../login" style="text-decoration:none">Sign in</a></button></li>
          <li><button type="button" class="btn btn-success navbar-btn"><a href="../login" style="text-decoration:none">Sign up</a></button></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search"></input>
            <span class="input-group-btn">
              <button type="button" class="btn btn-info">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <table class="table table-hover ">
        <thead>
          <tr>
            <th width="1%"><input type="checkbox" name='all' value='0' onclick="allSelect('all', 'single')"/></th>
            <th width="10%">姓名</th>
            <th width="25%"><span  style="margin-left:75px">电话</span></th>
            <th width="40%">地址</th>
            <th>更新日期</th>
          </tr>
        </thead>
        <tbody>
          {% for each in messageuser %}
            <tr>
              <td>
                <input type="checkbox" name='single' value='{{ each.pk }}' onclick="singleSelect2parent('all', 'single')"/>
              </td>
              <td><a href="../{{ each.pk }}/detail">{{ each.Name }}</a></td>
              <td>
                <select id="select_{{ each.id }}" style="width: 65px;margin: -5px 2px -5px;border-radius: 2px;border: 1px solid #cccccc;padding: 4px 6px;">
                  {% if Label|get:each.id|length_is:"1" %}  <!--若电话标签个数为1-->
                    <option value="{{ Label|get:each.id|first }}_{{ each.id }}">
                      {{ Label|get:each.id|first }}     <!--第一个电话标签-->
                    </option>
                  {% else %}  <!--有多个电话-->
                    <option value="{{ Label|get:each.id|first }}_{{ each.id }}">
                      {{ Label|get:each.id|first }} <!--先得第一个电话-->
                    </option>
                    {% for label in Label|get:each.id|slice:"1:" %}
                      <option value="{{ label }}_{{ each.id }}">
                        {{ label }}    <!--再得后面几个电话-->
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>

                {% if Label|get:each.id|length_is:"1" %} <!--若电话标签个数为1-->
                  {% for label in Label|get:each.id %} 
                    <a href="tel:{{ PhoneNum|get:each.id|get:label }}">
                      <span id="{{ label }}_{{ each.id }}">
                        {{ PhoneNum|get:each.id|get:label }}
                      </span>
                    </a>
                  {% endfor %}
                {% else %}
                  {% for label in Label|get:each.id|slice:":1" %}
                    <a href="tel:{{ PhoneNum|get:each.id|get:label }}">
                      <span id="{{ label }}_{{ each.id }}">
                        {{ PhoneNum|get:each.id|get:label }}
                      </span>
                    </a>
                  {% endfor %}
                  {% for label in Label|get:each.id|slice:"1:" %}
                    <a href="tel:{{ PhoneNum|get:each.id|get:label }}">
                      <span id="{{ label }}_{{ each.id }}" style="display: none">
                        {{ PhoneNum|get:each.id|get:label }}
                      </span>
                    </a>
                  {% endfor %}
                {% endif %}  
              </td>
              <td>{{ each.Address }}</td>
              <td>{{ each.UpdateTime|date:"Y-m-d H:i:s" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <input type="button" value="Cancle" class="btn btn-danger" onclick="go_back()" />
        <input type="submit" value="Delete" class="btn btn-success" onclick="static_num()"/>
      </div>
    </form>
  </div>
</body>

<script type="text/javascript">
  function static_num()
  {
      var arr=new Array();
      var x=0;
      var items=document.getElementsByName('single');
      for(i=0;i<items.length;i++)
      {
         if(items[i].checked)
         {
            x++;
         }
      }

      if(!confirm('确定要删除这'+x+'个联系人？'))
      {
         window.event.returnValue=false;
      }
  }

   function allSelect(check_v, checkname)
   {
       var v_item = document.getElementsByName(check_v);
       var items = document.getElementsByName(checkname);
       for (var i = 0; i < items.length; ++i)
       {
           if (v_item[0].checked)
           {
               items[i].checked = true;
           }
           else
           {
               items[i].checked = false;
           }
       }
   }

   function singleSelect2parent(check_v, checkname)
   {
       var v_item = document.getElementsByName(check_v);
       var items = document.getElementsByName(checkname);
       var childStatus = true;
       for (var i = 0; i < items.length; ++i)
       {
           childStatus = (childStatus && items[i].checked);
       }
       if (childStatus)
       {
           v_item[0].checked = true;
       }
       else
       {
           v_item[0].checked = false;
       }
   }

  function go_back()
  {
    //history.go(-1); //返回上一页
    window.location.href="../phonenum"; //返回主页
  }

  $(document).ready(function()
  {
    {% for each in messageuser %}
      $("#select_{{ each.id }}").change(function()
      {
        var select_value=$("#select_{{ each.id }}").val();
        {% for label in Label|get:each.id %}
          if("{{ label }}_{{ each.id }}"==select_value)
          {
            $("span#{{ label }}_{{ each.id }}").show();
          }
          else
          {
            $("span#{{ label }}_{{ each.id }}").hide();
          }
        {% endfor %}
      });
    {% endfor %}
  });
</script>

</html>