<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cloud Phone</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/jquery-3.0.0.min.js"></script>
  <script src="/static/js/common.js"></script>
  <link rel="shortcut icon" href="/static/images/haomyun.ico" />
</head>
<body>
  {% include 'header.html' %}
  <div class="container">
    <form method="POST" id="fromMessage" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-1 control-label">姓名</label>
        <span style="color:red" name="nameError">
          <strong></strong>
        </span>
        <div class="col-lg-3 col-md-4 col-sm-5">
          {{ updateform.update_name }}
        </div>
      </div>
      <span id="phonenum">
        <div class="form-group">
          <label for="phonenum" class="col-sm-1 control-label">电话</label>
          <span style="color:red" class="phoneError" name="0">
            <strong></strong>
          </span>
          <div class="col-lg-3 col-md-4 col-sm-5">
            <div class="input-group">
              <span class="input-group-addon">
                <select id="0" name="label" style="width:80px; height:35px;
                margin:-34px -13px;border-radius: 3px;" onchange="changeFunc();">
                  <option value="{{ Label.0 }}">{{ Label.0 }}</option>
                  <option value="修改" style="color:#7fb80e;font-weight: bold">修改</option>
                </select>
                <input type="text" class="form-control" id="addoption0" style="display:none;margin:-25px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="{{ Label.0 }}"></input>
              </span>
              <input class="form-control" id="id_update_phone0" name="update_phone" placeholder="电话" type="text" value="{{ PhoneNum.0 }}" />
              <div class="input-group-addon">
                <input type="image" src="/static/images/add.png" id="addRow" style="outline: 0"></input>
              </div>
            </div>
          </div>
        </div>
        {% for i in Length %}
        <span>
          <div class="form-group">
            <span style="color:red" class="phoneError" name="{{ i }}">
              <strong></strong>
            </span>
            <label for="phonenum" class="col-sm-1 control-label"></label>
            <div class="col-lg-3 col-md-4 col-sm-5">
              <div class="input-group">
                <span class="input-group-addon">
                  <select id="{{ i }}" name="label" style="width:80px; height:35px;
                  margin:-34px -13px;" onchange="changeFunc();">
                    <option value="{{ Label|get:i }}">{{ Label|get:i }}</option>
                    <option value="修改" style="color:#7fb80e;font-weight: bold">修改</option>
                  </select>
                  <input type="text" class="form-control" id="addoption{{ i }}" style="display:none;margin:-25px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="{{ Label|get:i }}"></input>
                </span>
                <input class="form-control" id="id_update_phone{{ i }}" name="update_phone" placeholder="电话" type="text" value="{{ PhoneNum|get:i }}" />
                <div class="input-group-addon">
                  <input type="image" src="/static/images/remove.png" style="outline: 0" onclick="delRow(this)"></input>
                </div>
              </div>
            </div>
          </div>
        </span>
        {% endfor %} 
      </span>
      <div class="form-group">
        <label for="address" class="col-sm-1 control-label">地址</label>
        <div class="col-sm-2" style="width: 500px;">
          {{ updateform.update_address }}
        </div>
      </div>
      <div class="form-group">
        <label for="other" class="col-sm-1 control-label">其它</label>
        <div class="col-sm-2" style="width: 500px;" >
          {{ updateform.update_other }}
        </div>
      </div>
      <div style="margin: 50px 0 0 40px" class="visible-lg-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" />
      </div>
      <div style="margin: 50px 0 0 22px" class="visible-md-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" />
      </div>
      <div style="margin: 50px 0 0 6px" class="visible-sm-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" />
      </div>
      <div style="margin: 50px 0 0 0px" class="visible-xs-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" />
      </div>
    </form>
  </div>
  {% include 'footer.html' %}
</body>

<script type="text/javascript">
  function go_back()
  {
    //history.go(-1); //返回上一页
    window.location.href="../../phonenum"
  }

  function delRow(obj) //删除行
  {
    currentNum=$('.phoneError').length;
    var Row=obj.parentNode;
    while(Row.tagName.toLowerCase()!="span")
    {
      Row=Row.parentNode;
    }
    Row.parentNode.removeChild(Row);//删除行
    /******删除末行 下面的name值往下递减******/
    currentName=$(obj).parent().parent().parent().siblings("span").attr("name");
    for(var i=parseInt(currentName)+1;i<currentNum;i++){
      $('span[name='+i+']').attr("name",i-1);
    }
  }

  //添加行
  jQuery(function(){
    // var counter ={{ Length|length }};
    jQuery('input#addRow').click(function(event){
      event.preventDefault();
      var counter=$($('.phoneError')[$('.phoneError').length-1]).attr("name");
      counter++;
      var newRow = jQuery('<span><div class="form-group"><label for="phonenum" class="col-sm-1 control-label"></label><span class="phoneError" style="color:red" name='+counter+'><strong></strong></span><div class="col-lg-3 col-md-4 col-sm-5"><div class="input-group"><span class="input-group-addon"><select id='+counter+' name="label" style="width:80px; height:35px;margin:-34px -13px;" onchange="changeFunc();"><option value="手机">手机</option><option value="修改" style="color:#7fb80e;font-weight: bold">修改</option></select><input type="text" class="form-control" id="addoption'+counter+'" style="display:none;margin:-25px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="手机"></input></span>{{ updateform.update_phone }}<div class="input-group-addon"><input type="image" src="/static/images/remove.png" style="outline: 0" onclick="delRow(this)"></input></div></div></div></div></span>');
      jQuery('span#phonenum').append(newRow);
    });
});

  function changeFunc()
  {
    var i=0;
    var ids_myselect=[];
    var id_myselect;
    $("select").each(function(){
      ids_myselect.push($(this).attr("id"))  //查找所有select的id
    });
    $.each(ids_myselect,function(key,value){   //遍历id
      if($("#"+value).is(":focus")==true)    //判断是否聚焦在id为value的select
      {
        id_myselect=value;
        i=value;
      }
    });
    var id_addoption="addoption"+i;
    var selectBox=document.getElementById(id_myselect);
    if(selectBox.selectedIndex==1)
    {
      $("#"+id_addoption).show();
      $("#"+id_addoption).focus();
    }
    else
    {
      $("#"+id_addoption).hide();
    }
    $("#"+id_addoption).blur(function(){
      var value=$("#"+id_addoption).val();
      var obj=document.getElementById(id_myselect);
      var opt=obj.options[0];
      opt.value=value;
      opt.text=value;
      $("#"+id_addoption).hide();
      $("#"+id_myselect).val(value);
    });
  }

  $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
  });

  $('#fromMessage').submit(function(e){
    e.preventDefault();
    var name=$('#id_update_name').val();
    var phoneArr=new Array();
    $('input[name="update_phone"]').each(function(){
      phoneArr.push($(this).val());
    });
    var data = $(this).serialize();
    $.ajax({
      url:'/{{ user.id }}/detail/',
      type:'POST',
      traditional:true,
      cache:false,
      data:data,
      success:function(arg){
        if((typeof arg)=='object'){  //是否为字典对象，若是，则传递来时的error信息
          var len=$('input[name="update_phone"]').length;
          if(arg.hasOwnProperty('nameError1') || arg.hasOwnProperty('nameError2')){  //是否有name error
            // len=Object.keys(arg).length-1   //字典长度减去name error 即phone error长度
            if(arg.hasOwnProperty('nameError1')){
              nameErrorMessage=arg.nameError1
            }else{
              nameErrorMessage=arg.nameError2
            }
            $('span[name="nameError"] strong').text(nameErrorMessage);
            for(var i=0;i<len;i++){
              $('span[name='+i+'] strong').text(arg[i])
            }
          }else{
            // len=Object.keys(arg).length
            $('span[name="nameError"] strong').text('');
          }
          for(var i=0;i<len;i++){
            if(arg.hasOwnProperty(i)){   //第i个phone是否error
              $('span[name='+i+'] strong').text(arg[i])
            }else{
              $('span[name='+i+'] strong').text('')
            }
          }
        }else{
          $('span>strong').text('');
          alert(arg);
          window.location.href="../../phonenum";
        }
      },
      error:function(){
        console.log('failed!')
      }
    });
  }); 
</script>

</html>