<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contacts</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">  
  <script src="/static/js/jquery-3.0.0.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <link rel="shortcut icon" href="/static/images/haomyun.ico" />
</head>
<body style="background:url(/static/images/001.jpg) no-repeat fixed center;background-size: cover;">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../" style="padding: 13px">
          <span class="glyphicon glyphicon-phone-alt"></span>
          Contacts
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../../phonenum">PhoneNum</a></li>
          <li ><a href="../../add">AddUser</a></li>
          <li><a href="../../delete">DelUser</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-default navbar-btn" style="margin-right: 10px"><a href="../login" style="text-decoration:none">Sign in</a></button></li>
          <li><button type="button" class="btn btn-success navbar-btn"><a href="../login" style="text-decoration:none">Sign up</a></button></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search"></input>
            <span class="input-group-btn">
              <button type="button" class="btn btn-info">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <form method="POST" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        {{ updateform.update_name.errors }}
        <label for="username" class="col-sm-1 control-label">姓名</label>
        <div class="col-lg-3 col-md-4 col-sm-5">
          {{ updateform.update_name }}
        </div>
      </div>
      <span id="phonenum">
        <div class="form-group">
          {{ updateform.update_phone.errors }}
          <label for="phonenum" class="col-sm-1 control-label">电话</label>
          <div class="col-lg-3 col-md-4 col-sm-5">
            <div class="input-group">
              <span class="input-group-addon">
                <select id="0" name="label" style="width:80px; height:35px;
                margin:-34px -13px;border-radius: 3px;" onchange="changeFunc();">
                  <option value="{{ Label.0 }}">{{ Label.0 }}</option>
                  <option value="修改" style="color:#7fb80e;font-weight: bold">修改</option>
                </select>
                <input type="text" class="form-control" id="addoption0" style="display:none;margin:-22px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="{{ Label.0 }}"></input>
              </span>
              <input class="form-control" id="id_update_phone0" name="update_phone" placeholder="电话" type="text" value="{{ PhoneNum.0 }}" />
              <div class="input-group-addon">
                <input type="image" src="/static/images/add.png" id="addRow" style="outline: 0"></input>
              </div>
            </div>
          </div>
        </div>
        {% for i in Length %}
        <span>
          <div class="form-group">
            {{ updateform.update_phone.errors }}
            <label for="phonenum" class="col-sm-1 control-label"></label>
            <div class="col-lg-3 col-md-4 col-sm-5">
              <div class="input-group">
                <span class="input-group-addon">
                  <select id="{{ i }}" name="label" style="width:80px; height:35px;
                  margin:-34px -13px;" onchange="changeFunc();">
                    <option value="{{ Label|get:i }}">{{ Label|get:i }}</option>
                    <option value="修改" style="color:#7fb80e;font-weight: bold">修改</option>
                  </select>
                  <input type="text" class="form-control" id="addoption{{ i }}" style="display:none;margin:-22px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="{{ Label|get:i }}"></input>
                </span>
                <input class="form-control" id="id_update_phone{{ i }}" name="update_phone" placeholder="电话" type="text" value="{{ PhoneNum|get:i }}" />
                <div class="input-group-addon">
                  <input type="image" src="/static/images/remove.png" style="outline: 0" onclick="delRow(this)"></input>
                </div>
              </div>
            </div>
          </div>
        </span>
        {% endfor %} 
      </span>
      <div class="form-group">
        <label for="address" class="col-sm-1 control-label">地址</label>
        <div class="col-sm-2" style="width: 500px;">
          {{ updateform.update_address }}
        </div>
      </div>
      <div class="form-group">
        <label for="other" class="col-sm-1 control-label">其它</label>
        <div class="col-sm-2" style="width: 500px;" >
          {{ updateform.update_other }}
        </div>
      </div>
      <div style="margin: 50px 0 0 40px" class="visible-lg-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" onclick="confirm()" />
      </div>
      <div style="margin: 50px 0 0 22px" class="visible-md-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" onclick="confirm()" />
      </div>
      <div style="margin: 50px 0 0 6px" class="visible-sm-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" onclick="confirm()" />
      </div>
      <div style="margin: 50px 0 0 0px" class="visible-xs-block">
        <button type="button" class="btn btn-danger" onclick="go_back()">Cancle</button>
        <input type="submit" name="Update" value="Save" class="btn btn-success" onclick="confirm()" />
      </div>
    </form>
  </div>
</body>

<script type="text/javascript">
  function go_back()
  {
    //history.go(-1); //返回上一页
    window.location.href="../../phonenum"
  }
  function confirm()
  {
    alert('Success！');
  }

  function delRow(obj) //删除行
  {
    var Row=obj.parentNode;
    while(Row.tagName.toLowerCase()!="span")
    {
      Row=Row.parentNode;
    }
    Row.parentNode.removeChild(Row);//删除行
  }

  //添加行
  jQuery(function(){
    var counter = 0;
    jQuery('input#addRow').click(function(event){
      event.preventDefault();
      counter++;
      var newRow = jQuery('<span><div class="form-group"><label for="phonenum" class="col-sm-1 control-label"></label><div class="col-lg-3 col-md-4 col-sm-5"><div class="input-group"><span class="input-group-addon"><select id='+counter+' name="label" style="width:80px; height:35px;margin:-34px -13px;" onchange="changeFunc();"><option value="手机">手机</option><option value="修改" style="color:#7fb80e;font-weight: bold">修改</option></select><input type="text" class="form-control" id="addoption'+counter+'" style="display:none;margin:-22px 0px -10px -11px;height: 31px;width: 62px;border-style:none;" value="自定义"></input></span>{{ updateform.update_phone }}<div class="input-group-addon"><input type="image" src="/static/images/remove.png" style="outline: 0" onclick="delRow(this)"></input></div></div></div></div></span>');
      jQuery('span#phonenum').append(newRow);
    });
});

  function changeFunc()
  {
    var i=0;
    var ids_myselect=[];
    var id_myselect;
    $("select").each(function(){
      ids_myselect.push($(this).attr("id"))  //查找所有select的id
    });
    $.each(ids_myselect,function(key,value){   //遍历id
      if($("#"+value).is(":focus")==true)    //判断是否聚焦在id为value的select
      {
        id_myselect=value;
        i=value;
      }
    });
    var id_addoption="addoption"+i;
    var selectBox=document.getElementById(id_myselect);
    if(selectBox.selectedIndex==1)
    {
      $("#"+id_addoption).show();
      $("#"+id_addoption).focus();
    }
    else
    {
      $("#"+id_addoption).hide();
    }
    $("#"+id_addoption).blur(function(){
      var value=$("#"+id_addoption).val();
      var obj=document.getElementById(id_myselect);
      var opt=obj.options[0];
      opt.value=value;
      opt.text=value;
      $("#"+id_addoption).hide();
      $("#"+id_myselect).val(value);
    });
  }

</script>

</html>