    <header>
        <div class="public-container clearfloat">
            <div class="header-logo"><a href="http://www.haomyun.com"></a></div>
            <div class="nav-icons"></div>
            <ul class="header-nav clearfloat">
                <li class="item"><a href="http://www.haomyun.com/phonenum">PhoneNum</a></li>
                <li class="item"><a href="http://www.haomyun.com/add">AddUser</a></li>
                <li class="item"><a href="http://www.haomyun.com/delete">DelUser</a></li>
            </ul>
        </div>
    </header>
