<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Phone</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/common.js"></script>
    <link rel="shortcut icon" href="/static/images/haomyun.ico" />
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function(){
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?4cb23102858baa64d68ddf7ee6a00f8c";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    {% include 'header.html' %}
    <div class="index-banner">
        <div class="index-banner-bg">
            <img src="../static/images/bg.jpg" alt="banner">
        </div>
        <div class="index-banner-text public-container">
            <div class="index-banner-title">
                <h1>Everything For This</h1>
            </div>
            <div class="index-banner-txt">
                <p><span class="line"></span>just for your convenience<span class="line"></span></p>
            </div>
        </div>
    </div>
    <div class="index-content clearfloat">
        <div class="index-content-tips"><a href="jianli" style="color: #fff">简历入口</a></div>
        <div class="public-container index-content-list clearfloat">
            <div class="pic clearfloat">
                <a href="">
                    <div class="float">
                        <img src="../static/images/pic1.png" alt="">
                    </div>
                    <div class="pic-text float">
                        <div class="pic-text-title float">
                            <h3>统一的企业通讯录</h3>
                        </div>
                        <div class="pic-text-txt">
                            <p>企业通讯录可快捷导入，统一管理同事信息准确完善，方便查找</p>
                        </div>
                    </div>
                    <div class=hidden-text>
                        <div class="hidden-text-txt">
                            <h1>便捷</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pic clearfloat">
                <a href="">
                    <div class="float">
                        <img src="../static/images/pic2.png" alt="">
                    </div>
                    <div class="pic-text float">
                        <div class="pic-text-title float">
                            <h3>贴合办公场景的沟通方式</h3>
                        </div>
                        <div class="pic-text-txt">
                            <p>集成电话与邮件，多样沟通，提高效率提供回执与提醒消息，贴合办公场景</p>
                        </div>
                    </div>
                    <div class=hidden-text>
                        <div class="hidden-text-txt">
                            <h1>效率</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pic clearfloat">
                <a href="">
                    <div class="float">
                        <img src="../static/images/pic3.png" alt="">
                    </div>
                    <div class="pic-text float">
                        <div class="pic-text-title float">
                            <h3>可靠的安全保障</h3>
                        </div>
                        <div class="pic-text-txt">
                            <p>协议全程加密，防止网络窃听多重数据安全保护机制，抵御网络攻击和入侵</p>
                        </div>
                    </div>
                    <div class=hidden-text>
                        <div class="hidden-text-txt">
                            <h1>安全</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>