<!DOCTYPE html>
<html>
<head>
    <title>我的简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/jianli.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/jianli.js"></script>
    <link rel="shortcut icon" href="/static/images/haomyun.ico" />
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function(){
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?4cb23102858baa64d68ddf7ee6a00f8c";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="jianli floatfix">
        <div class="info-message left">
            <div class="head">
                <img src="/static/images/head.jpg" alt="照片">
                <h1>陈亮</h1>
                <h3>前端工程师</h3>
            </div>
            <div class="message">
                <canvas id="myCanvas1" width="370px"></canvas>
                <ul class="message1">
                    <li><h4>生日 :</h4></li>
                    <li><h4>毕业学校 :</h4></li>
                    <li><h4>学历 :</h4></li>
                    <li><h4>籍贯 :</h4></li>
                    <li><h4>专业 :</h4></li>
                    <li><h4>现居 :</h4></li>
                    <li><h4>个人网站 :</h4></li>
                </ul>
                <ul class="message2">
                    <li><p>1992年6月21日</p></li>
                    <li><p>湖北第二师范学院</p></li>
                    <li><p>本科</p></li>
                    <li><p>湖北</p></li>
                    <li><p>电子信息科学与技术</p></li>
                    <li><p>深圳</p></li>
                    <li><p><a href="http://www.weiruyue.com">www.weiruyue.com</a></p></li>
                </ul>
            </div>
            <div class="message">
                <canvas id="myCanvas2" width="370px"></canvas>
                <ul class="message1">
                    <li><h4>手机 :</h4></li>
                    <li><h4>邮箱 :</h4></li>
                    <li><h4>地址 :</h4></li>
                </ul>
                <ul class="message2">
                    <li><p>15920055057</p></li>
                    <li><p>236338364@qq.com</p></li>
                    <li><p>深圳宝安西乡盐田新一村</p></li>
                </ul>
            </div>
            <div class="messageSkill">
                <canvas id="myCanvas3" width="370px"></canvas>
                <ul class="message1">
                    <li><h4>CSS HTML :</h4></li>
                    <li><h4>JavaScript :</h4></li>
                    <li><h4>Jquery :</h4></li>
                    <li><h4>Bootstrap :</h4></li>
                    <li><h4>Python :</h4></li>
                    <li><h4>普通话 :</h4></li>
                    <li><h4>英语 :</h4></li>
                </ul>
                <ul class="skill">
                    <li><canvas id="myCanvas4" width="160px" height="10px"></canvas></li>
                    <li><canvas id="myCanvas5" width="160px" height="10px"></canvas></li>
                    <li><canvas id="myCanvas6" width="160px" height="10px"></canvas></li>
                    <li><canvas id="myCanvas7" width="160px" height="10px"></canvas></li>
                    <li><canvas id="myCanvas8" width="160px" height="10px"></canvas></li>
                    <li><canvas id="myCanvas9" width="160px" height="10px"></canvas></li>
                    <li><canvas id="myCanvas10" width="160px" height="10px"></canvas></li>
                </ul>
            </div>
        </div>
        <div class="detail-message">
            <div class="introduce">
                <div class="title">
                    <img src="/static/images/jianli_1.png">
                    <h2>个人评价</h2>
                </div>
                <div class="content">
                    <p>1、半年实习经验，一年工作经验，精通网页设计</p>
                    <p>2、掌握JavaScript语言，熟练使用各种框架如jQuey等</p>
                    <p>3、熟练运用Photoshop、Sublime text、Chrome等常用网页设计制作软件</p>
                    <p>4、精通div+css网页布局与样式，了解HTML5与CSS3.0</p>
                    <p>5、熟悉Python脚本语言，了解Django后台开发，深谙前后端技术交流</p>
                    <p>6、学习能力强，it技术迷，有着满满的精力去钻研网站开发知识</p>
                    <p>7、乐于分享交流，团队合作意识强</p>
                </div>
            </div>
            <div class="work">
                <div class="title">
                    <img src="/static/images/jianli_2.png">
                    <h2>工作经历</h2>
                </div>
                <div class="content">
                    <div class="job">
                        <h4>2015-06<p>前端工程师</p></h4>    
                    </div>
                    <h4>中茂电子(深圳)有限公司</h4>
                    <p>公司内部网站的前端页面设计与开发，负责页面布局与js交互开发</p>
                </div>
            </div>
            <div class="mySkill">
                <div class="title">
                    <img src="/static/images/jianli_3.png">
                    <h2>技能专长</h2>
                </div>
                <div class="content">
                    <h4>前端</h4>
                    <p>1、掌握HTML、CSS，熟悉页面架构和div+css布局</p>
                    <p>2、熟悉JavaScript语言</p>
                    <p>3、可熟练使用前端主流框架bootstrap、Jquery等</p>
                    <p>4、会使用PhotoShop进行页面的切图和对素材进行处理</p>
                    <h4>后台</h4>
                    <p>5、了解后台开发流程</p>
                    <p>6、熟悉Python脚本语言，并能使用Django框架快速进行小型建站</p>
                    <p>7、了解MySQL关系数据库的使用</p>
                </div>
            </div>
            <div class="project">
                <div class="title">
                    <img src="/static/images/jianli_4.png">
                    <h2>实战项目</h2>
                </div>
                <div class="content">
                    <ul class="text">
                        <li>
                            <p><strong>一、<a href="">个人简历</a></strong></p>
                            <p>1、在线个人简历，信息条目一目了然</p>
                            <p>2、使用HTML5 Canvas画图功能，采用响应式、DIV+CSS页面布局，适应各种移动设备</p>
                            <p>3、使用Ajax功能实现留言模块，及留及现无需刷新</p>
                        </li>
                        <li>
                            <p><strong>二、<a href="../" target="_blank">Web号码云</a></strong></p>
                            <p>1、网站后台使用Django框架搭建，使用了Python语言</p>
                            <p>2、运用JavaScript技术可为用户动态添加多个电话，并且每个电话都有对应的标签</p>
                            <p>3、运用Ajax技术进行信息表单的验证，提高了用户体验</p>
                            <p>4、表格显示所有用户信息，可随时对其进行增添删改</p>
                            <p>5、全站采用响应式布局，并使用到部分HTML5、CSS3新特性，适应各种移动端设备</p>
                        </li>
                        <li>
                            <p><strong>三、<a href="http://www.weiruyue.com" target="_blank">个人网站</a></strong></p>
                            <p>个人博客网站，首页大图轮播，CSS3动画，H5移动自适应</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pic">
            <img src="../static/images/mountain.jpg" alt="mountain">
        </div>
    </div>
    <form method="POST" class="suggest"  id="formSuggest">
        {% csrf_token %}
        <div>
            <h3>感谢您在百忙之中抽看我的简历，每一滴汗水的付出只为让每位用户赏心悦目，正如攀登的勇者，人生总在批判鼓励中进步，若您有任何看法，还请您提出宝贵的意见，以资进步，谢谢！</h3>
            <textarea name="JobSuggest" placeholder="您的建议"></textarea>
        </div>
        <div class="btn">
            <button type="button" name="empty">清空</button>
            <input type="submit" name="put" value="提交">
        </div>
    </form>
    {% for each in allSuggest %}
    <form method="POST" name="formCancel" class="hiddenSuggest">
        {% csrf_token %}
        <div class="showSuggest floatfix">
            <div class="suggestContent">{{ each.Suggest }}</div>
            <div class="timeRight">
                <div class="time left">{{ each.updateTime|date:"Y-m-d H:i:s" }}</div>
                <div class="remove left">
                    <input type="submit" name="cancel" value="删除"></input>
                </div> 
            </div>
        </div>
    </form>
    {% endfor %}
</body>
</html>