<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
	<!-- <link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen"> -->
	<meta charset="utf-8">
	<link href="/static/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="/static/js/jquery-1.8.0.js"></script>
	<link rel="shortcut icon" href="/static/images/haomyun.ico" />
	<style type="text/css">
		.img_top{
			background-color: #90d7ec;
			margin-left: -20px;
			margin-right: -20px;
			margin-top: -26px; 
		}
	</style>


</head>

<!-- <body style="background-image: url(/static/images/bgbody2.jpg);"> -->
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="img_top">
				<h2 class="text-center">
					<span class="marker"><br />非一般的逗比<br />通讯录</span>
				</h2>
				<div style="margin-left: 20px;">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="">首页</a>
						</li>
						<li>
							<a href="add">添加联系人</a>
						</li>
						<li class="disabled">
							<a href="delete">删除联系人</a>
						</li>
						<li>
							<a href="#">登录</a>
						</li>				
						<li>
							<a href="#">注册</a>
						</li>				
					</ul>
				</div>
			</div>
			<div>
				<form class="form-search" method="GET">
					<input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
				</form> 
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th width="10%">
								姓名
							</th>
							<th width="25%">
								<span style="margin-left: 90px;">
									电话
								</span>
							</th>
							<th width="40%">
								地址
							</th>
							<th>
								更新时间
							</th>
						</tr>
					</thead>
					<tbody>
						{% for each in messageuser %}
							<tr>
								<td>
									<a href="{{ each.pk }}/detail">
										{{ each.Name }}
									</a>
								</td>
								<td>
									<select id="select_{{ each.id }}" style="width: 80px;margin: -5px 2px -5px">
										{% if Label|get:each.id|length_is:"1" %}  <!--若电话标签个数为1-->
											<option value="{{ Label|get:each.id|first }}_{{ each.id }}">
												{{ Label|get:each.id|first }}     <!--第一个电话标签-->
											</option>
										{% else %}  <!--有多个电话-->
											<option value="{{ Label|get:each.id|first }}_{{ each.id }}">
												{{ Label|get:each.id|first }} <!--先得第一个电话-->
											</option>
											{% for label in Label|get:each.id|slice:"1:" %}
												<option value="{{ label }}_{{ each.id }}">
													{{ label }}    <!--再得后面几个电话-->
												</option>
											{% endfor %}
										{% endif %}
									</select>

									{% if Label|get:each.id|length_is:"1" %} <!--若电话标签个数为1-->
										{% for label in Label|get:each.id %} 
											<a href="tel:{{ PhoneNum|get:each.id|get:label }}">
												<span id="{{ label }}_{{ each.id }}">
													{{ PhoneNum|get:each.id|get:label }}
												</span>
											</a>
										{% endfor %}
									{% else %}
										{% for label in Label|get:each.id|slice:":1" %}
											<a href="tel:{{ PhoneNum|get:each.id|get:label }}">
												<span id="{{ label }}_{{ each.id }}">
													{{ PhoneNum|get:each.id|get:label }}
												</span>
											</a>
										{% endfor %}
										{% for label in Label|get:each.id|slice:"1:" %}
											<a href="tel:{{ PhoneNum|get:each.id|get:label }}">
												<span id="{{ label }}_{{ each.id }}" style="display: none">
													{{ PhoneNum|get:each.id|get:label }}
												</span>
											</a>
										{% endfor %}
									{% endif %}
									
								</td>
								<td>
									{{ each.Address }}
								</td>
								<td>
									{{ each.UpdateTime|date:"Y-m-d H:i:s" }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>

<script type="text/javascript">

$(document).ready(function()
{
	{% for each in messageuser %}
		$("#select_{{ each.id }}").change(function()
		{
			var select_value=$("#select_{{ each.id }}").val();
			{% for label in Label|get:each.id %}
				if("{{ label }}_{{ each.id }}"==select_value)
				{
					$("span#{{ label }}_{{ each.id }}").show();
				}
				else
				{
					$("span#{{ label }}_{{ each.id }}").hide();
				}
			{% endfor %}
		});
	{% endfor %}
});
	
</script>

</html>