<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cloud Phone</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/jquery-3.0.0.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/common.js"></script>
  <link rel="shortcut icon" href="/static/images/haomyun.ico" />
  <script type="text/javascript">
    var _hmt = _hmt || [];
    (function(){
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?4cb23102858baa64d68ddf7ee6a00f8c";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
  {% include 'header.html' %}
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="10%">姓名</th>
            <th width="30%"><span  style="margin-left:88px">电话</span></th>
            <th width="35%">地址</th>
            <th>更新日期</th>
          </tr>
        </thead>
        <tbody>
          {% for each in messageuser %}
            <tr>
              <!-- <td><a href="{{ each.pk }}/detail">{{ each.Name }}</a></td> -->
              <td><a class="UserName" name="{{ each.pk }}" href="#" data-toggle="modal" data-target="#myModal">{{ each.Name }}</a></td>
              <td>
                <select id="select_{{ each.id }}" style="width: 80px;margin: -5px 2px -5px;border-radius: 2px;border: 1px solid #cccccc;padding: 4px 6px;">
                  {% if Label|get:each.id|length_is:"1" %}  <!--若电话标签个数为1-->
                    <option value="{{ Label|get:each.id|first }}_{{ each.id }}">
                      {{ Label|get:each.id|first }}     <!--第一个电话标签-->
                    </option>
                  {% else %}  <!--有多个电话-->
                    <option value="{{ Label|get:each.id|first }}_{{ each.id }}">
                      {{ Label|get:each.id|first }} <!--先得第一个电话-->
                    </option>
                    {% for label in Label|get:each.id|slice:"1:" %}
                      <option value="{{ label }}_{{ each.id }}">
                        {{ label }}    <!--再得后面几个电话-->
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>

                {% if Label|get:each.id|length_is:"1" %} <!--若电话标签个数为1-->
                  {% for label in Label|get:each.id %} 
                    <a href="tel:{{ PhoneNum|get:each.id|get:label }}">
                      <span id="{{ label }}_{{ each.id }}">
                        {{ PhoneNum|get:each.id|get:label }}
                      </span>
                    </a>
                  {% endfor %}
                {% else %}
                  {% for label in Label|get:each.id|slice:":1" %}
                    <a href="tel:{{ PhoneNum|get:each.id|get:label }}">
                      <span id="{{ label }}_{{ each.id }}">
                        {{ PhoneNum|get:each.id|get:label }}
                      </span>
                    </a>
                  {% endfor %}
                  {% for label in Label|get:each.id|slice:"1:" %}
                    <a href="tel:{{ PhoneNum|get:each.id|get:label }}">
                      <span id="{{ label }}_{{ each.id }}" style="display: none">
                        {{ PhoneNum|get:each.id|get:label }}
                      </span>
                    </a>
                  {% endfor %}
                {% endif %}  
              </td>
              <td>{{ each.Address }}</td>
              <td>{{ each.UpdateTime|date:"Y-m-d H:i:s" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <span style="position:relative;">
            <img src="../static/images/card.jpg" style="width: 100%;">
          </span>
          <span style="position:absolute; top:5px; right:10px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
          </span>
          <span id="name" style="position:absolute; top:45%; left:43%;">
            <p style="font-size: 26px"><strong></strong></p>
          </span>
          <span id="phone" style="position:absolute; top:81%; left:20%;">
            <p></p>
          </span>
          <span id="address" style="position:absolute; top:67%; left:63%;">
            <p><strong></strong></p>
          </span>
          <span id="webaddress" style="position:absolute; top:81%; left:63%;">
            <p><strong>www.haomyun.com</strong></p>
          </span>
          <span id="email" style="position:absolute; top:67%; left:20%;">
            <p><strong>xxxxx.@xx.com</strong></p>
          </span>
          <span id="edit" style="position:absolute; top:0; left:0;">
            <a class="btn" href="www.baidu.com">编辑</a>
          </span>
          <div id="headpicture" style="width: 116px;height: 116px;position:absolute;top:7%; left:39%; border-radius: 100px;">
          </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>

<script type="text/javascript">
$(document).ready(function(){
  {% for each in messageuser %}
    $("#select_{{ each.id }}").change(function()
    {
      var select_value=$("#select_{{ each.id }}").val();
      {% for label in Label|get:each.id %}
        if("{{ label }}_{{ each.id }}"==select_value)
        {
          $("span#{{ label }}_{{ each.id }}").show();
        }
        else
        {
          $("span#{{ label }}_{{ each.id }}").hide();
        }
      {% endfor %}
    });
  {% endfor %}

  $(".UserName").on('click',function(){
    $("#phone p").text("");
    var oTr=$(this).parent().parent();
    var name=$(this).text();
    var labels=$(oTr).children(":eq(1)").children("select").children("option");
    var phones=$(oTr).children(":eq(1)").children("a");
    var address=$(oTr).children(":eq(-2)").text();
    $("#name strong").text(name);
    $("#address strong").text(address);
    for(var i=0;i<labels.length;i++){
      var phonelabel=$("#phone p").html();
      $("#phone p").html(phonelabel+"<strong>"+$(labels[i]).text()+" "+$(phones[i]).text()+"</strong><br/>");
    };
    $("#edit a").attr("href",$(this).attr("name")+"/detail");
  })
});  
</script>

</html>