<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
</head>

<style>
table.dataintable {
   border: 1px solid #888888;
   border-collapse: collapse;
   font-family: Arial,Helvetica,sans-serif;
   margin-top: 10px;
   width: 100%;
}
table.dataintable th {
   background-color: #CCCCCC;
   border: 1px solid #888888;
   padding: 5px 15px 5px 5px;
   text-align: left;
   vertical-align: baseline;
}
table.dataintable td {
   background-color: #EFEFEF;
   border: 1px solid #AAAAAA;
   padding: 5px 15px 5px 5px;
   vertical-align: text-top;
}
</style>

<body>
<h1>通讯录</h1>

<table class="dataintable">
<tr>
	<th width="10%">姓名</th>
	<th width="15%">电话</th>
	<th width="35%">地址</th>
   <th >其它</th>
	<th width="17%">更新时间</th>
</tr>
<tr>
   <form action="http://127.0.0.1:8001/phonenum/" method="post">
   <input type="submit" value="确认">
	{% for each in messageuser %}
      <tr>
         <td><input id="Name" type="text" name="User_Name" value="{{ each.Name }}"></td>
         <td><input id="PhoneNum" type="text" name="User_PhoneNum" value="{{ each.PhoneNum }}"></td>
         <td><input id="Address" type="text" name="User_Address" value="{{ each.Address }}"></td>
         <td><input id="Other" type="text" name="User_Other" value="{{ each.Other }}"></td>
         <td>{{ each.UpdateTime }}</td>
      </tr>
   </form>
	{% endfor %}
</tr>	

<a href="http://127.0.0.1:8001/phonenum/">返回</a>
</table>

</body>
</html>